@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This website allows adding books into the library system and manages the library.</h4>
    <p>The users are assigned books, new books can be added and edited later.</p><br>
    <p>To view all books <a href="/Books">click here</a>.</p>
</div>